*{
    margin:0;
}
body{
 background-image: url(images/Rectangle_3.jng);
 background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: rgb(145, 159, 153);
    display: flex;
    justify-content: space-between;
    padding: 3vh 5vw;
    border: 1px solid #fff;
    align-items: center;
}
.razryv{
    height:400px;
}
.navigator_list{  
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    list-style: none;
    width: 50vw;
    height: 20vh;
    /* border: 1px solid #fff; */
}

/* Star night  */

.star_photo{
    width:560px;
    float: left;
}
.text_star{
    float:right; /* Выравнивание по левому краю */
        margin: 4px 4px 4px 0; /* Отступы вокруг картинки */
        width:590px; 
        height:220px;
        font-size: 120%;
}
.m_star{
    display: inline-block;
    width:90%;
    vertical-align: middle;
    padding: 10px 5%;
    text-align: center;
    background-color:rgb(82, 124, 188);
}

/* Mona Liza */

.liza_photo{
    width:560px;
    float: left;
}
.text_liza{
    float:right; 
    margin: 4px 4px 4px 0; 
        width:50%; 
        height:10%;
        font-size: 120%;
}
.m_liza{
    
    display: inline-block;
    width:90%;
    vertical-align: middle;
    padding: 10px 5%;
    text-align: center;
    background-color:rgb(150, 117, 55);
}

/* Jesus */

.jesus_photo{
    width:510px; 
    float: left;
}
.text_jesus{
    float:right; 
    margin: 4px 4px 4px 0;
        width:50%; 
        height:10%;
        font-size: 120%;
}
.m_jesus{
    display: inline-block;
    width:90%;
    vertical-align: middle;
    padding: 10px 5%;
    text-align: center;
    background-color:rgb(94, 111, 143);
}

/* Forest in rain */

.rain_photo{
    width:450px; 
    float: left;
}
.m_rain{
    display: inline-block;
    width:90%;
    vertical-align: middle;
    padding: 10px 5%;
    text-align: center;
    background-color:rgb(87, 105, 70);
}
.text_rain{
    float:right; 
    margin: 4px 4px 4px 0;
    width:50%; 
    height:10%;
    font-size: 120%;
}

/* ninth wave */

.val_photo{
    width:420px; 
    float: left;
}
.m_val{
    display: inline-block;
    width:90%;
    vertical-align: middle;
    padding: 10px 5%;
    text-align: center;
    background-color:rgb(144, 69, 44);
}
.text_val{
    float:right; 
    margin: 4px 4px 4px 0;
    width:50%; 
    height:10%;
    font-size: 120%;
}

/* footer */

footer{
    background-color:rgb(184, 127, 88);
    /* padding:10px 0; */
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}
/* .text_used{
   
    float:right;
    margin: 4px 4px 4px 0; 
    width:30%; 
    height:10%;
    font-size: 100%;
    text-align: center;
} */
.text_contact{
    list-style: none;
    float: left; 
    margin: 4px 4px 4px 0; 
    width:20%; 
    height:10%;
    font-size: 100%;
    text-align: center;
}